<p>
  edit-product works!
</p>


<br>
  <div class = "form-group product">
    <form [formGroup]="editproductform" (ngSubmit)="editProduct()">
      <label>ProductName</label>
      <input type="text" class="productname" name="ProductName" formControlName = "ProductName">
      <br>
      <label>ProductDescription</label>
      <input type="text" class="productdescription" name="ProductDescription" formControlName = "ProductDescription">
      <button type ="submit">Edit</button>
    </form>
  </div>